# Byte-compiled / cache
*__pycache__/
*.py[cod]
*.pyo
*.pytest_cache/

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# IDE / editor
.vscode/
.idea/

# Environment files
.env
test.py
